//site color variables
$body-color: #fff;
$primary-color: #B59AC1;
$secondary-color: #649F86;
$text-color: #646569;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #9D9EA5;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Geneva', sans-serif;
$secondary-font: 'Futura', sans-serif;
