{{ with .Site.Data.counter }}
  {{ if .enable }}
  <section class="site-counter" id="counter">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h4 class="text">{{ .heading }}</h4>
          </div>
        </div>
        {{ range .counter_item }}
        <div class="col-lg-4 col-md-6">
          <div class="site-counter-item">
            <span class="site-counter-item-title">{{ .title }}</span>
            <h4 class="site-counter-item-text">{{ .number }}</h4>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}